<p-toast></p-toast>
<div style='padding-top: 70px;'>
    
    <p-card *ngIf="person">   
        <p-button styleClass="p-button-outlined pt-1 pb-1 pl-2 pr-2" label="Retour à l'arbre" (click)="goToTree()"></p-button>
        <div class="flex">
            <div class="col-6 mt-4">
                <h1 [ngClass]="person.gender === 'M' ? 'male' : 'female'">{{ person.first_name }} {{ person.second_name }} {{ person.third_name }} {{ person.last_name }} - {{ person.gender }}</h1>
                <p>
                    Né<span *ngIf="person.gender === 'F'">e</span>
                    <span *ngIf="person.birth_date"> le {{ person.birth_date | date:'dd/MM/yyyy' }} </span>
                    <span *ngIf="person.death_date && person.birth_date">({{ calculateAge(person) }} ans)</span>
                </p>
                <p *ngIf="person.birth_place">Né<span *ngIf="person.gender === 'F'">e</span>
                    à <span> {{ person.birth_place }} </span>
                </p>
                <p *ngIf="person.death_date">
                    Décédé<span *ngIf="person.gender === 'F'">e</span>
                    <span> le {{ person.death_date | date:'dd/MM/yyyy' }} </span>
                </p>
                <br/>
                <p *ngIf="person.biography"><strong>Quoi de neuf sur {{ person.first_name }} ?</strong><br/> {{ person.biography }}</p>
                <p *ngIf="person.email && isOwnProfile">
                    <strong>Email :</strong> {{ person.email }}
                </p>
                <p *ngIf="person.phone && isOwnProfile">
                    <strong>Téléphone :</strong> {{ person.phone }}
                </p>
                <p *ngIf="person.residence && isOwnProfile">
                    <strong>Résidence :</strong> {{ person.residence }}
                </p>
            </div> 
            <div class="col-6 mt-4">
                <img alt="Image de {{ person.first_name }} {{ person.last_name }}" [src]="person.photo" *ngIf="person.photo" width="300" />
            </div> 
        </div>
        <div class="mt-6 flex col-4 gap-3">
            <p-button label="Modifier" (click)="editPerson()" *ngIf="canEdit"></p-button>
            <p-button
                label="Supprimer"
                (click)="deletePerson()"
                styleClass="p-button-danger"
                *ngIf="canDelete"
            ></p-button>
            <p-button label="Partager" (click)="sharePerson()" *ngIf="canEdit"></p-button>
        </div>
    </p-card>  
</div>
