<p-toast></p-toast>
<p-card
  [style]="{ overflow: 'hidden', background: 'none' }"
  class="flex justify-content-center align-items-center h-screen"
>
  <p-tabs value="0">
    <p-tablist>
      <p-tab style="width: 50%" value="0">Se connecter</p-tab>
      <p-tab style="width: 50%" value="1">Obtenir un accès</p-tab>
    </p-tablist>
    <p-tabpanels>
      <p-tabpanel value="0">
        <div class="p-fluid">
          <div class="p-field col-12 mt-3">
            <p-fieldset legend="Email">
              <input
                class="w-full"
                id="email"
                pInputText
                [(ngModel)]="email"
                type="email"
                (keydown.enter)="login()"
              />
            </p-fieldset>
          </div>
          <div class="p-field col-12 mb-5">
            <p-fieldset legend="Mot de passe">
              <input
                class="w-full"
                id="password"
                pInputText
                [(ngModel)]="password"
                type="password"
                (keydown.enter)="login()"
              />
            </p-fieldset>
          </div>
          <p-button
            class="flex justify-content-center"
            label="Connexion"
            (click)="login()"
          ></p-button>
        </div>
      </p-tabpanel>
    </p-tabpanels>
    <p-tabpanels>
      <p-tabpanel value="1">
        <div class="p-fluid">
          <div class="col-12 mt-3 flex">
            <div class="p-field col-6 p-0 pr-1">
              <p-fieldset legend="Prénom">
                <input
                  class="w-full"
                  id="first_name"
                  pInputText
                  [(ngModel)]="first_name"
                  type="text"
                  (keydown.enter)="register()"
                />
              </p-fieldset>
            </div>
            <div class="p-field col-6 p-0 pl-1">
              <p-fieldset legend="Nom">
                <input
                  class="w-full"
                  id="last_name"
                  pInputText
                  [(ngModel)]="last_name"
                  type="text"
                  (keydown.enter)="register()"
                />
              </p-fieldset>
            </div>
          </div>
          <div class="p-field col-12 mt-3">
            <p-fieldset legend="Email">
              <input
                class="w-full"
                id="email"
                pInputText
                [(ngModel)]="email"
                type="email"
                (keydown.enter)="register()"
              />
            </p-fieldset>
          </div>
          <div class="p-field col-12 mt-3 mb-5">
            <p-fieldset legend="Mot de passe">
              <input
                class="w-full"
                id="password"
                pInputText
                [(ngModel)]="password"
                type="password"
                (keydown.enter)="register()"
              />
            </p-fieldset>
          </div>
          <p-button
            class="flex justify-content-center"
            label="Envoyer la demande"
            (click)="register()"
            (keydown.enter)="register()"
            type="submit"
          ></p-button>
        </div>
      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>
</p-card>
