<p-toast></p-toast>

<div class="card pt-8">
    <p-table
        #dt
        [value]="users"
        dataKey="id"
        [rowHover]="true"
        [rows]="10"
        [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10, 25, 50]"
        [paginator]="true"
        currentPageReportTemplate="Résultats {first} à {last} sur {totalRecords}"
        [filterDelay]="0"
        [globalFilterFields]="['first_name', 'last_name', 'email']"
        sortField="first_name"
        [sortOrder]="1"
    >
        <ng-template #caption>
            <div class="flex justify-between">
                <!-- <p-button [outlined]="true" icon="pi pi-filter-slash" label="Clear" (click)="clear(dt)" /> -->
                <p-iconField iconPosition="left">
                    <p-inputIcon>
                        <i class="pi pi-search"></i>
                    </p-inputIcon>
                    <input pInputText type="text" [(ngModel)]="searchValue" (ngModelChange)="dt.filterGlobal($event, 'contains')" placeholder="Rechercher..." />
                </p-iconField>
            </div>
        </ng-template>
        <ng-template #header>
            <tr>
                <th style="width: 4rem">
                    <p-tableHeaderCheckbox />
                </th>
                <th pSortableColumn="first_name" style="min-width: 14rem">
                    <div class="flex justify-between items-center gap-2">
                        Prénom
                        <p-sortIcon field="first_name" />
                        <p-columnFilter type="text" field="first_name" display="menu" class="ml-auto" />
                    </div>
                </th>
                <th pSortableColumn="last_name" style="min-width: 14rem">
                    <div class="flex justify-between items-center gap-2">
                        Nom
                        <p-sortIcon field="last_name" />
                        <p-columnFilter type="text" field="last_name" display="menu" class="ml-auto" />
                    </div>
                </th>
                <th pSortableColumn="email" style="min-width: 14rem">
                    <div class="flex justify-between items-center gap-2">
                        Email
                        <p-sortIcon field="email" />
                        <p-columnFilter type="email" field="email" display="menu" class="ml-auto" />
                    </div>
                </th>
                <th style="width: 5rem">Bloqué</th>
                <th style="width: 5rem">Actions</th>
            </tr>
        </ng-template>
        <ng-template #body let-user>
            <tr class="p-selectable-row cursor-pointer">
                <td>
                    <p-tableCheckbox [value]="user" />
                </td>
                <td>
                    {{ user.first_name }}
                </td>
                <td>
                    {{ user.last_name }}
                </td>
                <td>
                    {{ user.email }}
                </td>
                <td style="text-align: center">
                  <p-button *ngIf="user.approved" severity="success" (click)="manageAcessUser(user.id, false)" rounded icon="pi pi-unlock" />
                  <p-button *ngIf="!user.approved" severity="danger" (click)="manageAcessUser(user.id, true)" rounded icon="pi pi-lock" />
                </td>
                <td style="text-align: center">
                    <div class="flex gap-2">
                        <p-button
                          label="Modifier"
                          (click)="editUser(user)"
                          styleClass="p-button-sm"
                        ></p-button>
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template #emptymessage>
            <tr>
                <td colspan="8">Aucun utilisateur trouvé.</td>
            </tr>
        </ng-template>
    </p-table>
</div>