<p-toast></p-toast>
<p-card
  [style]="{ overflow: 'hidden', background: 'none' }"
  class="flex justify-content-center align-items-center h-screen"
>
  <div class="p-fluid">
    <h1>Définir un nouveau mot de passe</h1>
    <p>
      Saisissez ci-dessous votre nouveau mot de passe puis veuillez vous reconnecter.
    </p>
    <div class="p-field col-12 mt-3 mb-3">
      <p-fieldset legend="Nouveau mot de passe">
        <input
          class="w-full"
          id="newPassword"
          pInputText
          [(ngModel)]="newPassword"
          type="password"
          (keydown.enter)="onSubmit()"
        />
      </p-fieldset>
    </div>
    <div class="flex flex-column gap-3 align-items-center">
      <p-button
        label="Réinitialiser le mot de passe"
        (click)="onSubmit()"
        onkeypress="onSubmit()"
      ></p-button>
      <a class="text-gray-500 no-underline" [routerLink]="['/login']"
        >Retour à la page de connexion</a
      >
    </div>
  </div>
</p-card>
