<p-toast></p-toast>
<p-card
  [style]="{ overflow: 'hidden', background: 'none' }"
  class="flex justify-content-center align-items-center h-screen"
>
  <div class="p-fluid">
    <h1>Mot de passe oublié ?</h1>
    <p>
      Saisissez ci-dessous votre adresse e-mail et nous vous enverrons un lien
      pour réinitialiser votre mot de passe
    </p>
    <div class="p-field col-12 mt-3 mb-3">
      <p-fieldset legend="Adresse mail">
        <input
          class="w-full"
          id="email"
          pInputText
          [(ngModel)]="email"
          type="email"
          (keydown.enter)="onSubmit()"
          placeholder="alice.bob@gmail.com"
        />
      </p-fieldset>
    </div>
    <div class="flex flex-column gap-3 align-items-center">
      <p-button
        label="Envoyer le lien de réinitialisation"
        (click)="onSubmit()"
        onkeypress="onSubmit()"
      ></p-button>
      <a class="text-gray-500 no-underline" [routerLink]="['/login']"
        >Retour à la page de connexion</a
      >
    </div>
  </div>
</p-card>
